body
{
    background: #CCC;
}

#Header a:hove
{
    color: #FFF;
}

#bg-img
{
    background: url("../img/modern-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}